#profile-form {
  width: 50%;
  margin: auto;
  margin-top: 40px;
  position: relative;
}

h3 {
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
}

.wrapper {
  width: 460px;
  margin: auto;
}

.column {
  width: 300px;
  display: inline-block;
}

.row {
  margin-top: 20px;
  font-size: 14px;
  width: 300px;
  height: 40px;
  display: block;
}

.warning-label {
  display: none;
  width: 140px;
  height: 20px;
  line-height: 20px;
  color: #ba3333;
}
